<form action= <%= cat_url @cat.id %>  method="post">
  <input type="hidden" name="_method" value="put">

  <%= render "form", cat: @cat %>

  <input type="submit" value="Update cat info">

  <input
   name="authenticity_token"
   type="hidden"
   value="<%= form_authenticity_token %>">
</form>