<form action= "/cats"  method="post">

<p>
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name">
</p>
<p>
  <label for="cat_age">Age</label>
  <input type="text" name="cat[age]" id="cat_age">
</p>
<p>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
  <label for="cat_sex_male">Male</label>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
  <label for="cat_sex_female">Female</label>
</p>
<p>
  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color" selected="">
    <option value=""></option>
    <option value="Black">Black</option>
    <option value="Brown">Brown</option>
    <option value="White">White</option>
    <option value="Tabby">Tabby</option>
    <option value="Tie-Dye">Tie-Dye</option>
  </select>
</p>
<p>
  <label for="cat_birth_date">Birth Date</label>
  <input type="date" name="cat[birth_date]" id="cat_birth_date">
</p>
  <input type="submit" value="Create cat">
</form>